// variáveis de cor
$cor-primaria: #EFEEF3;

// reset do css
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kodchasan", sans-serif;
    background-color: $cor-primaria;
    color: #000;
    height: 200vh;
}

// header

.containerLogo {
    margin-left: 1vh;
}

header {
    display: flex;

    ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        width: 86vw;
        height: 8vh;
        justify-content: space-around;
        font-weight: 400;
        font-size: 1.2rem;
    }

    li {
        text-transform: uppercase;
    }


    a {
        text-decoration: none;
    }

}

// Main

